@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap');

/*Default resets*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------------------------------------------------- */

.App {
  display: grid;
  height: 100vh;
  place-content: center;
}

.container {
  display: grid;
  border: 1px solid black;
  width: 80rem;
  height: 40rem;
  align-content: flex-start;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid blue;
  height: 3rem;
}

.logo {
  border: 1px solid palevioletred;
  display: grid;
  place-content: center;
  font-family: 'Merriweather', serif;
  letter-spacing: 1px;
}

.logo > h1 {
  font-size: 1.75rem;
  padding: 0.5rem;
}

.tabs {
  display: flex;
  height: 100%;
  
}

.tab {
  border: 1px solid lightblue;
  width: 10rem;
  display: grid;
  place-content: center;
}

.active-tab {
  background-color: aquamarine;
}

.tab-contents {
  /* border: 1px solid red; */
}

.content {
  display: none;
}

.active-content {
  display: block;
}

/* ----------------------------------------------- */

/* Form styles */

.form-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.form-column {
  border: 1px solid red;
  display: grid;
  justify-content: center;
  gap: 1rem;
}

/* Text field styles */

.field {
  width: 25rem;
  height: 3rem;
  position: relative;
  overflow: hidden;
}

.field input {
  width: 100%;
  height: 100%;
  padding-top: 1.75rem;
  border: none;
  outline: none;
}

.field label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}

.field label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #5fa8d3;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.label-text {
  position: absolute;
  bottom: 2px;
  left: 0;
  transition: all 0.3s ease;
}

.error-indicator {
  color: red;
  display: none;
}

.active-error-indicator {
  display: inline;
}

.field input:focus + .label-name .label-text,
.field input:valid + .label-name .label-text {
  transform: translateY(-130%);
  font-size: 0.9rem;
  color: #5fa8d3;
}

.field input:focus + .label-name::after,
.field input:valid + .label-name::after {
  transform: translateX(0);
}

/* Radio button styles */

.buttons {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
}

.button {
  display: flex;
  gap: .5rem;
}

.form-radio {
  --size: 1.6rem;
  min-width: var(--size);
  height: var(--size);
  border-radius: 50%;
  border: 2px solid #444;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.form-radio .radio-mark {
  display: none;
  width: calc(100% - 0.25rem);
  border-radius: 50%;
  aspect-ratio: 1;
  background-color: #222;
}

.form-radio input {
  display: none;
}

.form-radio input:checked + .radio-mark {
  display: inline-block;
}

.form-radio .label {
  margin-left: 3rem;
}

